<?xml version="1.0" encoding="utf-8"?>
<manifest package="szamani.com.waitech"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.szamani.waitech.activities.WaitechApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.szamani.waitech.activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.szamani.waitech.activities.DetailActivity"
            android:parentActivityName="com.szamani.waitech.activities.ShopActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.szamani.waitech.activities.ShopActivity"/>
        </activity>

    </application>

</manifest>